<!-- conversations -->

    <div class="card-header">
      <div class="input-group">
        <input type="text" placeholder="Search..." name="" class="form-control search">
        <div class="input-group-prepend">
          <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
        </div>
      </div>
    </div>
        <!-- <ui class="contacts">
        <li class="active"> -->
    <chat-thread
         *ngFor="let thread of threads | async"
         [thread]="thread">
    </chat-thread>

  <!-- </li>
</ui> -->
<div class="card-footer"></div>

