<div class="card">
  <div class="card-header msg_head">
    <div class="d-flex bd-highlight">
      <div class="img_cont">

        <img class="rounded-circle user_img" src="{{currentThread.avatarSrc}}">
        <span class="online_icon"></span>
      </div>
      <div class="user_info">
        <span>Chat With {{currentThread.name}}</span>
        <p>1767 Messages</p>
      </div>
      <div class="video_cam">
        <span><i class="fas fa-video"></i></span>
        <span><i class="fas fa-phone"></i></span>
      </div>
      <div class="panel-buttons-container">
      </div>
    </div>
  </div>
  <div class="card-body msg_card_body">
    <chat-message *ngFor="let message of messages | async" [message]="message">
    </chat-message>
  </div>
  <div class="form-group" [class.has-error]="draftMessageControl.invalid && draftMessageControl.touched">
    <div class="card-footer">
      <div class="input-group">
        <div class="input-group-append">
          <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
        </div>
        <input required type="text" class="form-control type_msg" placeholder="Write your message here..."
          (keydown.enter)="onEnter($event)" [(ngModel)]="draftMessage.text" name="draftMessage" id="draftMessage"
          #draftMessageControl="ngModel">
        <div class="input-group-append">
          <button class="input-group-text send_btn" (click)="onEnter($event)"><i
              class="fas fa-location-arrow"></i></button>
        </div>
      </div>
    </div>
    <!-- <span class="help-block" *ngIf="draftMessageControl.invalid && draftMessageControl.touched">
      Please enter your message
    </span> -->
  </div>
</div>